body {
    background-color: lavender;
    }
     /* custom navigation start */
      /* navbar */
    
    .navbar-custom {
      /*  
    background-color: #af4600;
    border-color: #af4600;*/
      background: #0a4b33;
      border: 0;
      
    }

    /* navbar brand*/

    .navbar-custom .navbar-brand {
      color: lightgreen;

    }

    .navbar-custom .navbar-brand:hover {
      color: white;
      text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    }

    /* navbar top level text and links */

    .navbar-default .navbar-nav>.active>a {
      color: blue;
    }

    .navbar-default .navbar-nav>.active>a:focus,
    .navbar-default .navbar-nav>.active>a:hover {
      color: red;
    }

    .navbar-custom .navbar-nav>li,
    .navbar-custom .navbar-nav>li>a {
      color: yellow;

    }

    .navbar-custom .navbar-navside1>li,
    .navbar-custom .navbar-navside1>li>a {
      color: #ffffff;

    }

    /* top level link when mouse is hovering */

    .navbar-custom .navbar-nav>li>a:hover,
    .navbar-custom .navbar-nav>li>a:focus {
      /*  
    color: #ffffff;
    background-color: #af4600;
    color: #ffffff;*/
      background-color: green;
      color: white;
      text-shadow: 3px 3px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    }

    .navbar-custom .navbar-navside1>li>a:hover,
    .navbar-custom .navbar-navside1>li>a:focus {
      /*  
    color: #ffffff;
    background-color: #af4600;*/
      color: cyan;
      background-color: darkgreen;

    }

    /* top level parent link when the drop down is open */

    .navbar-custom .navbar-nav>.open>a,
    .navbar-custom .navbar-nav>.open>a:hover,
    .navbar-custom .navbar-nav>.open>a:focus {
      background-color: cyan;
      /*background-color: #FF6600;*/
      color: red;

    }


    /* level 1 menu bar */
    /*
    .navbar-custom .dropdown-menu {
      /*    background-color: #FF6600;
    background-color: cyan;
    border-color: #af4600;*/
      background-color: pink;
      border-color: pink;
      color: #ffffff;

    }
    */
    /* level 1 menu bar text and links*/

    .navbar-custom .dropdown-menu>li,
    .navbar-custom .dropdown-menu>li>a {
      color: #ffffff;

    }

    /* level 1 menu bar hovering */

    .navbar-custom .dropdown-menu>li>a:hover,
    .navbar-custom .dropdown-menu>li>a:focus {

      color: #ffffff;
      background-color: #af4600;

    }

    /* mobile toggle button formatting */

    .navbar-custom .navbar-toggle {
      /*border-color: #FF6600; */
      border-color: red;
    }

    /* mobile toggle button mouse hover */

    .navbar-custom .navbar-toggle:focus,
    .navbar-custom .navbar-toggle:hover {

      /* background-color: #FF6600;*/
      background-color: lightgreen;

    }

    /* mobile toggle button icon bar tower */

    .navbar-custom .navbar-toggle .icon-bar {
      background-color: #ffffff;

    }

    .navbar-custom .navbar-toggle .icon-bar:hover {
      background-color: red;

    }

    /* mobile 2nd level menu hover */

    .navbar-custom .navbar-nav .open .dropdown-menu1>li>a:focus,
    .navbar-custom .navbar-nav .open .dropdown-menu1>li>a:hover {

      /*background-color: #FF6600;
    color: #ffffff;
 */
      background-color: purple;
      color: pink;

    }

    .navbar-custom .navbar-nav .open .dropdown-menu2>li>a:focus,
    .navbar-custom .navbar-nav .open .dropdown-menu2>li>a:hover {

      /*background-color: #FF6600;
    color: #ffffff;
*/
      background-color: green;
      color: yellow;

    }

    /* mobile 2nd level link */

    .navbar-custom .navbar-nav .open .dropdown-menu2 {
      /* color: #ffffff; */
      background-color: lightgreen;

    }

    .navbar-custom .navbar-nav .open .dropdown-menu1 {
      /* color: #ffffff; */
		background-color: lightblue;

    }

    .navbar-custom .navbar-nav .open .dropdown-menu1> li> a {
      /* color: #ffffff; */
		color: blue;

    }

    .navbar-custom .navbar-nav .open .dropdown-menu2>li>a {
      /* color: #ffffff; */
		color: green;

    }

    .navbar{
			border-radius:0;
			background: #0a4b33;
			}
     /* custom navigation end */
    .navdiv{
			width:100%;
			height:auto;
		}
     /* hamburg icon custom */
    .inner-icon{
          /*
            position:absolute;
            top:5%;
            right:5%;*/
            display:flex;
            flex-direction: column;
            
          }
	.bar1, .bar2, .bar3{
		  /*
			position:relative;*/
			top:0px;
			height:4px;
			width:28px;
			margin:2px;
			background:red;
			transition:0.5s;
			}
  .rotate45dg {
			transform:;
			-ms-transform: rotate(45deg); /* IE 9 */
			transform:rotate(45deg) translate(7px, 6px);
			transition:0.5s;
			}
    
  .rotate-45dg {
			-ms-transform: rotate(45deg); /* IE 9 */
			transform:rotate(-45deg) translate(7px, -7px);
			transition:0.5s;
			}
    .opacity{
			opacity:0;
			}
  .blue{background:blue;}
     /* hamburg icon custom end */
    
     /* navbar controll with @media */
     
     /* jumbotron start */
     
    .jumbo{
        background-color:cyan;
        
    }
    .jumbotron h2{
            color: red;
    }
    .jumbotron p{
        color: green;
    }

    /* jumbotron end */
    
    /* social button start */
    .nolistmark{
        list-style-type:none;
    }
    .buttonsocial {
			width:150px;
			font-size: 18px;
			background: #0097a7;
			background: linear-gradient(#79ff4d, #c6ffb3, #53ff1a);
			color:red ;

    }
    .buttonsocial:hover {
			background: #0097a7;
			background: linear-gradient(#4d79ff,  #99b3ff, #0033cc);
			color:purple;
		}
    /* social button end */
    
    /*panels side*/
    /*panels side*/
    .headcustomsd {
        border-color: transparent;
    }
        
    .headcustomsd > .panel-heading {
        background-color:#ffd480; 
        color: green;
        border-color: transparent;
    }
    .headcustomsd2 > .panel-heading {
        background-color:#ffeecc; 
        color: green;
        border-color: transparent;
    }
    
    .bodycustomsd {
        background-color:#ffeecc;
    }
    .bodycustomsd > .panel-body {
        color: green;
    }
    /*body styling side*/
    .bodycustomsd2 {
        background:#ffeecc;
        color:#e60000;
        /*height:270px;*/
    }
    /*footer styling side*/
    .footercustomsd {
        background:#ffeecc;
        color:#e60000!important;
    }
    /*panels side end*/
    .footercustomcity {
        background:#ffd480!important;
        color:#e60000!important;
        height:56px;
    }
    
    
    form.order .form-control::-moz-placeholder {
        color: green;
      opacity: 1;
    }
    
    form.order .form-control:-ms-input-placeholder {
       color: green;
    }
    form.order .form-control::-webkit-input-placeholder {
       color: green;
    }
    /*
    
    #email2, #firstName2, #lastName2,#phoneNumber2,#areacode2,#telnum21,#postalAddress2,#ZipCode2,#msg,#feedback{
    background-color:#ffe0b2;
    }
    

    .inputbgr {
        background-color:#ffe0b2;
    }*/
    
    
    .glyph2{
        background:#ff3377;
        color:#ffffff;
    }
    .glyph2:hover{
        background:purple;
        color:#ffffff;
    }
    .inputbgr {
            background-color:#ffe0b2;
            border-color: transparent;
            color: red;
    }
    /*
    .inputbgr:focus {
            background-color: lightgreen;
            border-color: lightgreen;
            color: red;
    }
    .inputbgr:hover {
        border-color: green;
    }
    
    .fieldcontent_order{
        color:green;
    }
    .fieldcontent_order :hover{
        color:red;
    }
    /*
     textarea:focus {
        background-color: pink;
        color: blue;
    }
     textarea:hover {
        border-color: red;
    }*/
    /*order form */
     .orderreset {
      padding: 15px 15px;
      font-size: 20px;
      text-align: center;
      cursor: pointer;
      outline: none;
      color: #fff;
      background-color: #4CAF50;
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px #999;
    }

    .orderreset:hover {background-color: #3e8e41}

    .orderreset:active {
      background-color: #3e8e41;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
    
    .ordersmt {
      padding: 15px 15px;
      font-size: 20px;
      text-align: center;
      cursor: pointer;
      outline: none;
      color: #fff;
      background-color: blue;
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px #999;
    }

    .ordersmt:hover {background-color: darkblue}

    .ordersmt:active {
      background-color: darkblue;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
    /*order form end*/
    
    /*registration form */
     .regreset {
      padding: 15px 15px;
      font-size: 20px;
      text-align: center;
      cursor: pointer;
      outline: none;
      color: #fff;
      background-color: #4CAF50;
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px #999;
    }

    .regreset:hover {background-color: #3e8e41}

    .regreset:active {
      background-color: #3e8e41;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
    
    .regsmt {
      padding: 15px 15px;
      font-size: 20px;
      text-align: center;
      cursor: pointer;
      outline: none;
      color: #fff;
      background-color: blue;
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px #999;
    }

    .regsmt:hover {background-color: darkblue}

    .regsmt:active {
      background-color: darkblue;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
    /*registration form end*/
    
    /*contact form */
     .contactreset {
      padding: 15px 15px;
      font-size: 20px;
      text-align: center;
      cursor: pointer;
      outline: none;
      color: #fff;
      background-color: #4CAF50;
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px #999;
    }

    .contactreset:hover {background-color: #3e8e41}

    .contactreset:active {
      background-color: #3e8e41;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
    
    .contactsmt {
      padding: 15px 15px;
      font-size: 20px;
      text-align: center;
      cursor: pointer;
      outline: none;
      color: #fff;
      background-color: blue;
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px #999;
    }

    .contactsmt:hover {background-color: darkblue}

    .contactsmt:active {
      background-color: darkblue;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
    /*contact form end*/
    /*contact form */
    /*
    #email, #firstName, #lastName,#phoneNumber,#areacode,#telnum,#postalAddress,#ZipCode,#msg,#feedback{
    background-color:pink;
    }*/
    .glyph{
        background:#ff9966;
        color:#ff0000;
    }
    /*
    
    */
    .inputbgr_contact {
        background-color:pink;
            border-color: pink;
            color: purple;
    }
    /*  
    .inputbgr_contact:focus {
            background-color: lightblue;
            border-color: lightblue;
            color: blue;
    }
    .inputbgr_contact:hover {
        border-color: red;
    }
    */
    .textarea_contact{
        background-color:pink;
            border-color: pink;
            color: purple;
    }
    .textarea_contact:focus {
        background-color: lightblue;
            border-color: lightblue;
            color: blue;
    }
    .textarea_contact:hover {
        border-color: red;
    }
    
    
    form.contact .form-control::-moz-placeholder {
        color: purple;
      opacity: 1;
    }
    form.contact .form-control:-ms-input-placeholder {
       color: purple;
    }
    form.contact .form-control::-webkit-input-placeholder {
       color: purple;
    }
    
    /*contact form end*/
    
    /*registration form */
    .glyph3{
        background:darkgreen;
        color:yellow;
    }
    /*
    #email3, #firstName3, #lastName3,#phoneNumber3,#areacode3,#telnum3,#postalAddress3,#ZipCode3,#msg,#feedback{
    background-color:lightgreen;
    }
    */
    .inputbgr_reg {
        background-color:lightgreen;
        border-color: lightgreen;
        border: 1px solid lightgreen;
        color: red;
    }
        
    .inputbgr_reg:focus {
            background-color: lightgreen;
            border-color: lightgreen;
            border: 1px solid lightgreen;
            color: purple;
            
    }
    .inputbgr_reg:hover {
        border-color: lightgreen;
    }
    form.registration .form-control::-moz-placeholder {
        color: red;
      opacity: 1;
    }
    form.registration .form-control:-ms-input-placeholder {
       color: red;
    }
    form.registration .form-control::-webkit-input-placeholder {
       color: red;
    }
    form.registration .form-control::-o-placeholder {
        color: red;
      opacity: 1;
    }
    form.registration .form-control::-placeholder {
        color: red;
      opacity: 1;
    }
    /*registration form end*/
    
    /*login modal form */
     .modalreset {
      padding: 15px 15px;
      font-size: 20px;
      text-align: center;
      cursor: pointer;
      outline: none;
      color: #fff;
      background-color: #4CAF50;
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px #999;
    }

    .modalreset:hover {background-color: #3e8e41}

    .modalreset:active {
      background-color: #3e8e41;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
    
    .modalsmt {
      padding: 15px 15px;
      font-size: 20px;
      text-align: center;
      cursor: pointer;
      outline: none;
      color: #fff;
      background-color: blue;
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px #999;
    }

    .modalsmt:hover {background-color: darkblue}

    .modalsmt:active {
      background-color: darkred;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
    .modal_cancel {
      padding: 15px 15px;
      font-size: 20px;
      text-align: center;
      cursor: pointer;
      outline: none;
      color: #fff;
      background-color: red;
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px #999;
    }

    .modal_cancel:hover {background-color: darkred}

    .modal_cancel:active {
      background-color: darkred;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
    /*login modal form end*/
    
@media screen and (min-width: 768px) {
  body {
    background-color: lightgreen;
    margin-top:128px;
    margin-bottom:50px;
  }
   .fix-rel{
        position:fixed;
        height:auto;
        width:100%;
        top:0;
        left:0;
   }
   .flex-container {
      clear:both;
      display: flex;
      flex-direction: column-reverse;
  
    }
    .flex-main {
        width:100%;
        display: flex;
        justify-content: center;
  
    }
    .navbar{
        border-bottom:6px solid red;
    }
    .navbar-brand{
        font-size:28px;
    }
    .navbar-right{
        margin-top:-5rem;
    }
    .flex-container > .flex-main {
        justify-content: center;
    }
    .flex-side {
      display: flex;
      justify-content: flex-end;
  
    }
    /*.flex-direction: row-reverse;*/
     /* footer start */
    .footerdiv{
        background: #69f0ae!important;
        position:fixed;
        bottom:0;
        left:0;
        width:100%;
        height:28px;
        background-color:green;
        color:purple;
        z-index:4;
        }
    
     /* footer end */
    }

@media screen and (max-width: 767px) {
  body {
    background-color: lavender;
    }
    .fix-rel{
        width:100%;
        height:auto;
        position:static;
        top:0;
        left:0;
       }
    .flex-container {
      display: flex;
      flex-direction: column;
  
     }
    .flex-main {
      display: flex;
      justify-content: left;
      
    }
    .navbar-custom .navbar-brand{
        font-size:22px;
        color:orange;
    }
    .navbar{
        border-bottom:6px solid purple;
    }
    .flex-side {
      display: flex;
      justify-content: flex-start;}
    /*.flex-direction: row-reverse;*/
     /* footer start */
    
    .footerdiv {
        bottom:0;
        left:0;
        width:100%;
        height:28px;
        background:green;
        color:yellow;
      }
     /* footer end */
    /*body styling side*/
    .bodycustomsd2 {
        background:#ffeecc;
        color:#e60000;
        /*height:270px;*/
    }
    /*footer styling side*/
    
}

    
    /* css file copy and */
    
    .warning {
        color:red;
    }
    .ok {
        color:green;
    }
    .inputstatus {
        position: static;
        background:#ffeecc;
        padding-top:7px;
        width:100%;
      }
	.inputstatusmodal {
        position: static;
        background: #ccffcc;
		padding-top:7px;
		width:95%;
      } 
    .feedback {
        float: right;
        right: 4px;
      }
    .star {
        float: left;
        left: 6px;
        color: green;
      }
    .error {
        position: relative;
        left: 12px;
      }
    .texttel1{
        color:purple;
    }
	.centergl {
	  display: block;
	  padding: 20px 0;
	  text-align: center;
	  font-size: 6em;
	}
	.centerttl {
	  margin: .5em 0;
	  text-align: center;
	  font-size: 3em;
	  color:orange;
	}
/*  choose option buttons*/
   .btncolor1 {
	    width:120px;
    	background-image: linear-gradient(darkred,red,darkred);
        color:yellow;
    }
	.btncolor1:focus,
    .btncolor1:hover{
    	background-image: linear-gradient(#ff1a1a, #ff4d4d,#ff1a1a);
        color:white;
    }
	    
    .dropdwn1 {
    	background-color:lightgreen;
    }
    .dropdwn1 > li a{
    	background-color:lightgreen;
        color:green;
    }
    .dropdwn1 > li a:hover{
    	background-color:green;
        color:yellow;
    }
	  .open > .dropdown-toggle.btn-default.btncolor1[aria-expanded=true], 
	  .dropdown > .dropdown-toggle.btn-default.btncolor1:focus{
		background:red;
		color:pink;}
		
   .btncolor2 {
    	width:120px;
		background-image: linear-gradient(darkgreen,#79ff4d,darkgreen);
        color: darkred;
    }	
    .btncolor2:hover,
    .btncolor2:focus{
    	background-image: -webkit-linear-gradient(#79ff4d, #c6ffb3, #53ff1a);
        color:green;
    }
     
    .dropdwn2 {
    	background-color:lightblue;
    }
    .dropdwn2 > li a{
    	background-color:lightblue;
        color:blue;
    }
    .dropdwn2 > li a:hover{
    	background-color:purple;
        color:pink;
    }
	 .open > .dropdown-toggle.btn-default.btncolor2[aria-expanded=true], 
	  .dropdown > .dropdown-toggle.btn-default.btncolor2:focus{
		background:green;
		color:cyan;}
		
	/* button menu end*/

/* The container */
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_checkbox */

/* The radio and  checkboxes */

form {
  display: inline-block;
  border: 1px solid;
  border-radius: 12px;
  padding: 12px;
}
input[type="checkbox"],
input[type="radio"] {
  width: 2.2em;
  height: 2.2em;
  margin: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border: 1px solid #800080;
  border-radius: 3px;
  vertical-align: middle;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='512px' height='512px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;fill: %23800080' xml:space='preserve'%3e%3cpath d='M448,71.9c-17.3-13.4-41.5-9.3-54.1,9.1L214,344.2l-99.1-107.3c-14.6-16.6-39.1-17.4-54.7-1.8 c-15.6,15.5-16.4,41.6-1.7,58.1c0,0,120.4,133.6,137.7,147c17.3,13.4,41.5,9.3,54.1-9.1l206.3-301.7 C469.2,110.9,465.3,85.2,448,71.9z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #eee;
  background-position: 50% 50%;
  background-size: 0 0;
  transition: 0.3s ease;
}
input[type="radio"] {
  border-radius: 50%;
}

input[type="checkbox"]:active,
input[type="radio"]:active {
  background-color: #ddd;
}
input[type="checkbox"]:checked,
input[type="radio"]:checked {
  background-size: 100% 100%;
}
input[type="reset"],
input[type="submit"] {
  display: block;
  margin: 0.5em 0 0;
}
label{cursor:pointer}

/*modal*/
#login .checkbox input{position:static;margin-left:0}
#changepw .checkbox input{position:static;margin-left:0}

.center1{
  text-align:center;

}
 .left{
    position:relative;
    left:30px;
}  
/* style 1 2 * 
    .warning {
        color:red;
    }
    .ok {
        color:green;
    }
    .inputstatus {
        position: static;
        background-color:#ffeecc;
        padding-top:7px;
        width:100%;
      }
	.inputstatusmodal {
        position: static;
        background: #ccffcc;
		padding-top:7px;
		width:95%;
      } 
    .feedback {
        float: right;
        right: 4px;
      }
    .star {
        float: left;
        left: 6px;
        color: green;
      }
    .error, errorm {
        position: relative;
        left: 12px;
		color:green;
      } /* */
	.inputstatusmodal .errorm {
		color:green;	
	  }
    
    .inputboxmodal1{
        position:relative;
        color:green;
    }
    .inputboxmodal2{
        position:relative;
        color:green;
    }
    .inputboxmodal1 .glyphicon-ok,
    .inputboxmodal2 .glyphicon-ok{
        position:static;
        top:4px;
        padding-right:5px;
        padding-left:10px;
        color:green;
        
    }
    .inputboxmodal1 .glyphicon-remove,
    .inputboxmodal2 .glyphicon-remove{
        position:static;
        top:4px;
        padding-left:10px;
        padding-right:5px;
        color:red;
    }
    /*     */
	    
    #login{
        
        margin-left:10px;
        
    }
    
    #changepw{
        
        margin-left:10px;
        display:none;
    }
    .stylecls{
        font-size:36px;
        color:red;
    }
    .textlabel{
        color:green;
    }
	/*
    .headtextlabel{
        color:orange;
    } */
    .headtextlabel2{
        color:darkred;
    }
    .iconlabel{
        color:darkred;
    }
    .headcustom{
        background-color:green;
        
    }
    .headiconlabelmain{
        font-size:60px;
        color:lightgreen;
        
        }
    .headiconlabel{
        color:purple;
        }
    .othertext{
        color:green;
    }
    .backgroundbody,
    .footer{
        background-color:#ccffcc;
    }
    /*
    .inputboxmodal1 input[type=email],
	.inputboxmodal2 input[type=email],
    .inputboxmodal1 input[type=password],
	.inputboxmodal2 input[type=password]{
        width:95%;
        background-color:lightgreen;
        border:none;
        box-shadow:none;
        border-bottom: 5px solid green;
    }
    .inputboxmodal1 input[type=email],
	.inputboxmodal2 input[type=email],
    .inputboxmodal1 input[type=password],
	.inputboxmodal2 input[type=password]{
        background-color:lightgreen;
        border:none;
        box-shadow:none;
        border-bottom: 5px solid red;
    }
    
    */
    #login .inputboxmodal1 .borderbottom,
	#changepw .inputboxmodal2 .borderbottom{
        width:95%;
        background-color:lightgreen;
        border:none;
        box-shadow:none;
        border-bottom: 5px solid green;
    }
    #login .borderbottom:hover,
	#changepsw .borderbottom:hover{
        background-color:lightgreen;
        border:none;
        box-shadow:none;
        border-bottom: 5px solid red;
    }
    <!-- Place holder modallogin start -->
    form.modallogin .form-control::-moz-placeholder {
        color: orange;
      opacity: 1;
    }
    form.modallogin .form-control:-ms-input-placeholder {
       color: orange;
       opacity: 1;
    }
    form.modallogin .form-control::-webkit-input-placeholder {
       color: orange;
    }
    form.modallogin .form-control::-o-placeholder {
        color: orange;
      opacity: 1;
    }
    form.modallogin .form-control::-placeholder {
        color: orange;
      opacity: 1;
    }
    <!-- Place holder modalresetpw start -->
    form.modalresetpw .form-control::-moz-placeholder {
        color: orange;
      opacity: 1;
    }
    form.modalresetpw .form-control:-ms-input-placeholder {
       color: orange;
       opacity: 1;
    }
    form.modalresetpw .form-control::-webkit-input-placeholder {
       color: orange;
    }
    form.modalresetpw .form-control::-o-placeholder {
        color: orange;
      opacity: 1;
    }
    form.modalresetpw .form-control::-placeholder {
        color: orange;
      opacity: 1;
    }
    
    @media screen and (max-width: 600px) {
        .divchangepw{
        width:100%;
    }
    }
    @media screen and (min-width: 480px) {
	/*
    .title {
    font-size: 36px;
    text-align:center;
    } */
    .titleh3{
        font-size: 28px;
    }
    
    /* Place holder end */
    /*
    .divchangepw{
        width:160px;
        //background-color:pink;
    } */
    .button1{
        float:left;
        margin-left:20px;
        display:inline-block;
        
    }
    .button1color1{
        background-color:green;
        color:white;
        }
    .button1color2{
        background-color:green;
        color:white;
        }   
    .button1color1:hover,
    .button1color2:hover{
        background-color:darkgreen;
        color:white;
        }   
    .button2color{
        background-color:pink;
        color:purple;
        }
    .button2color:hover{
        background-color:orange;
        color:green;
        }
    .cancel1{
        background-color:red;
        color:white;
        float:left;
        margin-left:20px;
        
    }
    .cancel1:hover{
        background-color:darkred;
        color:yellow;
    }
}

@media screen and (max-width: 480px) {
 /*   .title {
    font-size: 28px;
    text-align:center;
    }*/
    .headiconlabelmain{
        font-size:48px;
        color:lightgreen;
        
        }
    .button1{
        width:100%;
        margin-left:0px;
        display:block;
        margin-bottom:20px;
    }
    .button1color1{
        background-color:green;
        color:white;
        }
    .button1color2{
        background-color:green;
        color:white;
        }   
    .button1color1:hover,
    .button1color2:hover{
        background-color:darkgreen;
        color:white;
        }       
    .button2color{
        background-color:pink;
        color:purple;
        }
    .button2color:hover{
        background-color:orange;
        color:white;
        }   
    .cancel1{
        width:100%;
        background-color:red;
        color:white;
        float:left;
        margin-bottom: 20px;
        
    }
    .cancel1:hover{
        background-color:darkred;
        color:yellow;
    }
    .paragraph, #changepw{
        padding-top:10px;
    } 
    .titleh3{
        font-size: 22px;
    }
    
}
.center1 {
        text-align: center;
    }
/* social button*/
.button {
  width:180px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: red;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button:hover {
    background-image: linear-gradient(#006622, #66ff66, #006622); /*  */
    color: white;
}
.btnName{
    color: green;
}
.button:hover .btnName{
    color: purple;
}
.i{
    font-size:22px;
    
}
.button01 {
    background-image: linear-gradient(#53ff1a, #8cff66, #53ff1a);} /* green gradient */
/* reinforce vertical-align for social buttons */

.socialButtons{
  display:table;
  margin:10px auto;
  padding:0;
}
.nolistmark .button{
  display:flex;
}

.nolistmark .button .fa:before{
 width:25px;
 margin-right:1rem;
}
.nolistmark .button01{float:none;}
/* additions here 19:10:2020 */
.input-group{width:100%}
.input-group-addon {width:75px}
.group-3 input.form-control{width:50%;}
input.form-control{float:none;}

/* additions 25/10/2020 */
.radio-inline input[type="radio"],
.checkbox-inline input[type="checkbox"] {
  position:static;
  cursor:pointer;
  margin-left:0;
}
.form-group .gender.radio-inline{padding-top:0;}


form {
 /* display: inline-block;*/
  display:block;
  border: 1px solid;
  border-radius: 12px;
  padding: 12px;
}
input[type="reset"],
input[type="submit"] {
  /*display:block;*/
  display:inline-block;
  margin: 0.5em 0 0;
}
/* Modal fix checkbox */

#login .checkbox input{position:static;margin-left:0}
#changepw .checkbox input{position:static;margin-left:0}
.termleft {	padding-left:15px;}

.input-group .input-group-addon {
    background-color: darkgreen;
    color: yellow;
}
.input-group .form-control {
    background-color: lightgreen;
}
.input-group:hover .input-group-addon {
    width:75px;
    background-color: darkred;
    color: orange;
}
.input-group:hover .form-control {
    background-color: pink;
}
